@model System.Data.DataSet
@{
    ViewBag.Title = "Arvores";
}
<div class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Arvores
        </h1>
        <div class="breadcrumb">
            <a href="@Url.Action("CadastroArvore" , "Arvore")"> <button type="button" class="btn-sm btn-danger">Nova Arvore</button></a>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Materias</th>
                                    <th>Turmas</th>
                                    <th>Editar</th>
                                    <th>Deletar</th>
                                </tr>
                            </thead>
                            <tbody> 
                                @if (Model.Tables[0].Rows.Count > 0)
                                {
                                    foreach (System.Data.DataRow linha in Model.Tables[0].Rows)
                                    {
                                <tr>
                                    <th>
                                            @linha["Diciplina"].ToString()
                                    </th>
                                    <th>
                                            @linha["Turma"].ToString()
                                    </th>
                                    <td>
                                       <button href="#" type="button" class="btn btn-info">Editar</button>
                                    </td>
                                    <td>
                                        <!--<a href=@Url.Action("DeletaMateria", new { idMateria = linha["Id"].ToString() })></a> -->
                                        <button type="button"  class="btn btn-adn btn-remover" data-batata ="@linha["Id"].ToString()" >Excluir</button>
                                    </td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div> 
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>