@model System.Data.DataSet
@{
    ViewBag.Title = "Nodos";
}
<div class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Nodos
        </h1>
        
        <div class="breadcrumb">            
            <a href="@Url.Action("CadastroNodo" , "Arvore", Model.Tables[1].Rows[0]["Arvore"])"> <button type="button" class="btn-sm btn-danger">Nova Arvore</button></a>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Modal -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Editar</th>
                                    <th>Deletar</th>
                                </tr>
                            </thead>
                            <tbody> 
                                @if (Model.Tables[0].Rows.Count > 0)
                                {
                                    foreach (System.Data.DataRow linha in Model.Tables[0].Rows)
                                    {
                                <tr>
                                    <th>
                                            @linha["nome"].ToString()
                                    </th>
                                    <td>
                                       <button href=@Url.Action("Questao", new { idMateria = linha["id"].ToString() }) type="button" class="btn btn-info">Editar</button>
                                    </td>
                                    <td>
                                        <button href=@Url.Action("DeletaNodo", new { idNodo = linha["id"].ToString() }) type="button" class="btn btn-adn">Excluir</button>
                                    </td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div> 
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>