
@{
    ViewBag.Title = "ListaAluno";
}
 <!-- Content Wrapper. Contains page content -->
  <div class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Arvores
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr >
                      <th>Aluno</th>
                      <th>Turma</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr>
                      <td>Thiago</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <td>Eduardo</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <td>Ana</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <td>Eduarda</td>
                      <td>6</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>Total Aluno</th>
                      <th>4</th>
                    </tr>
                </tfoot>
              </table>
            </div>
           </div>
        </div>
        </div>
        
            <!-- /.box-body -->
        <!-- /.col -->
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>